body {
width: 90%
margin: 0 auto;
}
/*^we're setting the width of the page to 90 so there is a small gap between the  left and right sides of the browser and the main content*/
#content {
overflow: auto;
height: 100%
}
/*^content includes the featue and the columns in the middle of the page*/
#nav, #feature, #footer {
  backgrounf-color: pink;
  margin: 1%;
}
.column1, .column2, .column3{
  width: 31.3%;
  float: left;
  margin: 1%;
  background-color: pink;
}
li{
  display: inline;
  padding: 0.5em;
  text-align: center;
}
#nav, #footer{
  background-color: #c9c9c9;
  padding: 0.5em 0;
}
#feature, .article{
  height: 10em;
  margin-bottom: 1em;
  background-color: #c8c8c8;
}
